@font-face {
    font-family: "stargate";
    src: url("stargate.ttf") format("truetype");
}
body {
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    color: #222;
    background-color: black;
    font-family: fantasy;
    font-size: 100%;
    text-align: center;
}
#container{
    top:0%;
}
#votreScore{
    font-family: stargate;
    position: absolute;
    top: 90%;
    width: 20%;
    left: 40%;
    height: 10%;
    padding: 0px;
    text-align: center;
    color: blue;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
#scoreAdversaire{
    font-family: stargate;
    position: absolute;
    top: 0%;
    width: 20%;
    left: 40%;
    height: 10%;
    padding: 0px;
    text-align: center;
    color: blue;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}
#menu {
    font-family: stargate;
    position: absolute;
    top: 10%;
    width: 20%;
    left: 40%;
    height: 25%;
    padding: 0px;
    text-align: center;
    color: blue;
    font-size: 300%;
}
#compteur {
    font-family: stargate;
    position: absolute;
    top: 10%;
    width: 50%;
    left: 25%;
    height: 50%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 30px;
    font-weight: bolder;
}
#recapTouches {
    font-family: fantasy;
    position: absolute;
    top: 33%;
    width: 33%;
    height: 33%;
    left: 33%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
#sortieHyperSpace {
    font-family: fantasy;
    position: absolute;
    top: 70%;
    width: 50%;
    height: 50%;
    left: 25%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
#sortirSeul{
    font-family: fantasy;
    position: absolute;
    top: 0%;
    width: 50%;
    height: 50%;
    left: 25%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
#sortirAmi{
    font-family: fantasy;
    position: absolute;
    top: 65%;
    width: 50%;
    height: 50%;
    left: 25%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
#son{
    font-family: fantasy;
    position: absolute;
    top: 0%;
    width: 10%;
    height: 10%;
    left: 90%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
.imageSon{
    width: 50%;
}
#info{
    font-family: fantasy;
    position: absolute;
    top: 80%;
    width: 50%;
    height: 50%;
    left: 25%;
    padding: 0px;
    text-align: center;
    color: red;
    font-size: 33Px;
}
a{
    color:white;
}
a:hover{
    color:red;
}
.tableHub {
    width: 100%;
}
.tableRecapTouches {
    width: 100%;
    background-color: black;
}
.tableRecapTouches td{
    border-width:1px; 
    border-style:solid; 
    border-color:black;
}
.tableGestion {
    width: 50%;
}
#transparent{
    width: 100%;
    height: 100%;
}
/*.wall {
    background: url(./img/hyperSpace.jpg);
    background-size: cover;
}*/
body:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.scene {
    display: inline-block;
    vertical-align: middle;
    perspective: 5px;
    perspective-origin: 50% 50%;
    position: relative;
}
.wrap {
    position: absolute;
    width: 1000px;
    height: 1000px;
    left: -500px;
    top: -500px;
    transform-style: preserve-3d;
    animation: move 12s infinite linear;
    animation-fill-mode: forwards;
}
.wrap:nth-child(2) {
    animation: move 12s infinite linear;
    animation-delay: 6s;
}
.wall {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation: fade 12s infinite linear;
    animation-delay: 0;
}
.wrap:nth-child(2) .wall {
    animation-delay: 6s;
}
.wall-right {
    transform: rotateY(90deg) translateZ(500px);
}
.wall-left {
    transform: rotateY(-90deg) translateZ(500px);
}
.wall-top {
    transform: rotateX(90deg) translateZ(500px);
}
.wall-bottom {
    transform: rotateX(-90deg) translateZ(500px);
}
.wall-back {
    transform: rotateX(180deg) translateZ(500px);
}
@keyframes move {
    0% {
        transform: translateZ(-500px) rotate(0deg);
    }
    100% {
        transform: translateZ(500px) rotate(0deg);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
